.skills{
    background: rgba(0, 0, 0, 0.8) url(../../image/skill.webp);
    height: 500px;
    width: 100%;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  .skills .progress-bar-wrap {
    background: rgba(255, 255, 255, 0.2);
  }
  .skills .progress-bar-html {
    width: 90%;
    height: 10px;
    transition: 0.9s;
    background-color: #18d26e;
  }
  
  .skills .progress-bar-css {
    width: 85%;
    height: 10px;
    transition: 0.9s;
    background-color: #18d26e;
  }
  .skills .progress-bar-js {
    width: 70%;
    height: 10px;
    transition: 0.9s;
    background-color: #18d26e;
  }
  .skills .progress-bar-bt {
    width: 85%;
    height: 10px;
    transition: 0.9s;
    background-color: #18d26e;
  }
  .skills .progress-bar-react {
    width: 88%;
    height: 10px;
    transition: 0.9s;
    background-color: #18d26e;
  }
  .skills .progress-bar-mongoDB {
    width: 80%;
    height: 10px;
    transition: 0.9s;
    background-color: #18d26e;
  }
  .skills .progress-bar-Express {
    width: 80%;
    height: 10px;
    transition: 0.9s;
    background-color: #18d26e;
  }
  .skills .progress-bar-Node {
    width: 75%;
    height: 10px;
    transition: 0.9s;
    background-color: #18d26e;
  }
  .skills .progress-bar-python {
    width: 80%;
    height: 10px;
    transition: 0.9s;
    background-color: #18d26e;
  }
  .skills .progress-bar-firebase {
    width: 75%;
    height: 10px;
    transition: 0.9s;
    background-color: #18d26e;
  }
  @media only screen and (max-width: 425px) {
    .skills{
      height: 400px;
  }
  
  }